body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}


body{
  background-image: url('guitar.jpg');
  /* background-repeat: no-repeat; */
}


h1{

  color:greenyellow

}

.btnstart
{
  width:80px;
  height:30px;
  /* background-color: burlywood;
  border-radius: 10px; */

  background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.8);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    color:brown;
    font-size: 1.1rem;
  /* border:none; */
  /* box-shadow: 2px 2px white ; */
}

.btnstart:hover{

  background: #25D066;
}

.btnstop {
  width: 80px;
  height: 30px;
  /* background-color: burlywood;
  border-radius: 10px; */

  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.8);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  color: brown;
  font-size: 1.1rem;
  /* border:none; */
  /* box-shadow: 2px 2px white ; */
}

.btnstop:hover {

  background: red;
}



.round{
  border-radius: 50%;
  background-color: red;
  width:50px;
  height:50px;
  position: absolute;
  border-style: inset;
  border-color: rgb(35, 8, 8);
  /* margin-top: 100px; */
  margin-top: 25px;
}

.counter{
  margin-top:50px;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* background-color: aqua; */
  color:aliceblue;
  
}

.roundContainer{
  /* position: absolute; */
  width:700px;
  height: 100px;
  /* background:burlywood; */
  /* top:-100px; */
  margin-top: 100px;


  background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.8);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.stopper{

  /* position: absolute; */
  /* margin-bottom: 25px;
  margin-left:350px;
  width: 10vw; */
  margin-left:385px;
  margin-top:40px;
  /* background-color: aliceblue; */
  transform: skew(70deg,50deg);
  width:3vw;
  height: 8px;
  background-color: burlywood;
  /* color:white; */
  /* margin-top:75px; */
  /* background-color: white; */

}